<configuration>
    <turboFilter class="ch.qos.logback.classic.turbo.DynamicThresholdFilter">
        <Key>threadName</Key>
        <!-- You can set default threshold as you like -->
        <DefaultThreshold>DEBUG</DefaultThreshold>
        <MDCValueLevelPair>
            <value>timer</value>
            <level>INFO</level>
        </MDCValueLevelPair>
    </turboFilter>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%method:%line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>